/* COLOR THEMES
.1 { color: #D9BB84; }
.2 { color: #59462E; }
.3 { color: #400D09; }
.4 { color: #59150E; }
.5 { color: #F2F2F2; }

second combo fonts option
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    background: #D9BB84;
    color: #59150E;

    font-size: 20px;
    font-family: 'Cormorant';
}

p {text-indent: 1em;}

h1, h2, h3 {
    font-family: 'Lato';
    text-align: center;
}

a, strong, abbr { color: #F2F2F2; }

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: right;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}